body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecef;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #0056b3;
    font-size: 42px;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 1.1em;
}

input[type="datetime-local"],
input[type="number"],
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="datetime-local"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #0056b3;
    outline: none;
}

button {
    padding: 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 580px;
    width: 20%;
    height: 30%;

}

button:hover {
    background-color: #004494;
}

#header {
    display: none;
    text-align: center;
    color: #28a745; /* Success message color */
    margin-top: 20px;
}
